<div class="container">
  <div class="row" style="padding-top: 3%;">
    <div class="col-9">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        <div class="col">
          <div class="card shadow-sm border border-warning">
            <div class="ribbon ribbon-top-right"><span><small class="cross">x </small>3</span></div>
            <img src="https://media.gq.com/photos/5ad64204c8be07604e8b5f2f/1:1/w_1332,h_1332,c_limit/21-books-GQ-April-2018-041718-3x2.jpg">
            <div class="card-body text-center">
              <p class="mb-0"><span>لغات برمجة</span></p>
              <p class="mb-0"><span></span>omran alhamadi</p>
              <p class="mb-0" dir="rtl"><span>متوفر</span></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group " style="padding-top: 10px;">
                  <button type="button" class="btn btn-sm btn-outline-warning btn-rounded"  [routerLink]="'/details'">عرض التفاصيل</button>
                  <button type="button" class="btn btn-sm btn-warning btn-rounded">أضف الى المفضلة</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm border border-warning">
            <div class="ribbon ribbon-top-right"><span><small class="cross">x </small>3</span></div>
            <img src="https://media.gq.com/photos/5ad64204c8be07604e8b5f2f/1:1/w_1332,h_1332,c_limit/21-books-GQ-April-2018-041718-3x2.jpg">
            <div class="card-body text-center">
              <p class="mb-0">C++</p>
              <p class="mb-0">omran alhamadi</p>
              <p class="mb-0">متوفر</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group " style="padding-top: 10px;">
                  <button type="button" class="btn btn-sm btn-outline-warning btn-rounded"  [routerLink]="'/details'">عرض التفاصيل</button>
                  <button type="button" class="btn btn-sm btn-warning btn-rounded">أضف الى المفضلة</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm border border-warning">

            <div class="ribbon ribbon-top-right"><span><small class="cross">x </small>3</span></div>
            <img src="https://media.gq.com/photos/5ad64204c8be07604e8b5f2f/1:1/w_1332,h_1332,c_limit/21-books-GQ-April-2018-041718-3x2.jpg">
            <div class="card-body text-center">
              <p class="mb-0">C++</p>
              <p class="mb-0">omran alhamadi</p>
              <p class="mb-0">متوفر</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group " style="padding-top: 10px;">
                  <button type="button" class="btn btn-sm btn-outline-warning btn-rounded"  [routerLink]="'/details'">عرض التفاصيل</button>
                  <button type="button" class="btn btn-sm btn-warning btn-rounded">أضف الى المفضلة</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm border border-warning">
            <div class="ribbon ribbon-top-right"><span><small class="cross">x </small>3</span></div>
            <img src="https://media.gq.com/photos/5ad64204c8be07604e8b5f2f/1:1/w_1332,h_1332,c_limit/21-books-GQ-April-2018-041718-3x2.jpg">
            <div class="card-body text-center">
              <p class="mb-0">C++</p>
              <p class="mb-0">omran alhamadi</p>
              <p class="mb-0">متوفر</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group " style="padding-top: 10px;">
                  <button type="button" [routerLink]="'/details'" class="btn btn-sm btn-outline-warning btn-rounded"  >عرض التفاصيل</button>
                  <button type="button" class="btn btn-sm btn-warning btn-rounded">أضف الى المفضلة</button>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="col-3">
      <div class="btn-group-vertical " >
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-warning" for="btnradio1">لغات برمجة</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-warning" for="btnradio2">قواعد معطيات</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-warning" for="btnradio3">خوارزميات وبنى معطيات</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
        <label class="btn btn-outline-warning" for="btnradio4">ويب</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
        <label class="btn btn-outline-warning" for="btnradio5">ذكاء اصطناعي</label>

      </div>
    </div>

  </div>









</div>

<footer class="foot">
  <div class="text-center p-3" style="background-color: #f07c00;" >
    © 2020 Copyright:
    <a class="text-white" href="https://site.ypu.edu.sy/"
    >Yarmouk Private University</a
    >
  </div>
</footer>
<router-outlet></router-outlet>
