<br><br><br>
<article class="bg-warning mb-3" >
  <div class="card-body text-center">
    <h4 class="text-white">YPU <br> مكتبه جامعه اليرموك الخاصه </h4>
    <div class="row">
      <div class="col-md-12">
        <div class="footer-btm">
          <a ><span style=" font-size: 11pt">جميع الحقوق محفوظة جامعة اليرموك الخاصة ©<br> POWERED BY  © GWA 2010-2021</span></a>
        </div>
      </div>
    </div>  <br>
    <p><a class="btn btn-secondary" target="_blank" href="https://site.ypu.edu.sy/"> YPU
      <i class="fa fa-window-restore "></i></a></p>
  </div>
  <br><br><br>
</article>
