<div class="container">
  <div class="landing">
    <div class="intro-text">
      <h1 class="mb-2">Reading More</h1>
      <P>Yarmouk Private Univesty</P>
    </div>
  </div>
  <div class="features">
    <div class="container">
      <a ><div class="feat">
        <i class="fas fa-broadcast-tower fa-3x"></i>
        <h3 style="color: black;" [routerLink]='"/home/book/13"' >Communication Engineering</h3>
      </div></a>

      <a > <div class="feat">
        <i class="fas fa-code fa-3x" ></i>
        <h3 style="color: black;" [routerLink]='"/home/book/17"'>Software Engineering</h3>
      </div></a>
      <a ><div class="feat">
        <i class="fas fa-globe-asia fa-3x"></i>
        <h3 style="color: black;"[routerLink]='"/home/book/9"'>Civil Engineering</h3>
      </div></a>
      <a ><div class="feat">
        <i class="fas fa-magic fa-3x"></i>
        <h3 style="color: black;" [routerLink]='"/home/book/1"'>Architecture Engineering</h3>
      </div></a>
      <a ><div class="feat">
        <i class="fas fa-palette fa-3x"></i>
        <h3 style="color: black;" [routerLink]='"/home/book/29"'>Interior Design</h3>
      </div></a>
      <a ><div class="feat">
        <i class="fas fa-hand-holding-usd fa-3x"></i>
        <h3 style="color: black;" [routerLink]='"/home/book/5"'>Business Administration</h3>
      </div></a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
