<app-alert></app-alert>
<div class="container my-4 display-6">
  الاصناف
</div>

<div *ngIf="category != null">
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th scope='col'>رقم الصنف</th>
        <th scope='col'>اسم الصنف</th>
        <th scope='col'>حذف الصنف </th>


      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cat of category; let i = index;">
        <td class="count">{{cat.id}}</td>
        <td >{{cat.name}}</td>
        <td ><button type="button" class="btn btn-outline-secondary" style="width: content-box;display: block;
            margin: auto;" (click)="delete(cat.id)">حذف الصنف</button>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<div *ngIf="category == null" style="height:70vh; display: flex;align-items: center;
justify-content: center;">
  <div>
    <div class="spinner-border text-secondary" style="width: 15vh; height: 15vh;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

