<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>



</head>

<body>
  <div class="head">
    <div class="menu"><i class="fa fa-bars" (click)="toggleSidebar()"></i></div>
    <div class="logo">
      <span class="logo-icon" [routerLink]="'allcategories'"><i class="fad fa-book"></i></span>
      <span class="logo-text" [routerLink]="'/home'">My Book</span>

    </div>
    <div class="search-bar">
      <!-- <select name="" id=""></select> -->
      <input type="text" name="" class="search-input" [(ngModel)]=sharedService.serchValue>
      <!-- <button>search</button> -->
    </div>



    <div class="account">
      <div class="custom-link" [routerLink]="'/profile'">

        <span class="account-icon"><i class="fa fa-user"></i></span>
        <span class="account-text "> حسابي </span>
      </div>
    </div>
    <div class="my-items">
      <div class="custom-link" [routerLink]="'favourite'">
        <span class="items-icon"><i class="fa fa-heart"></i></span>
        <span class="items-text"> الكتب المفضله</span>
      </div>
    </div>
    <div class="cart">
      <div class="custom-link" [routerLink]="'/view/Book/reserve/user/'+user?.id">
        <i class="fa fa-shopping-cart"></i>
      </div>
    </div>
  </div>

  <div class="my-sidebar" id="sidebar">
    <div class="sidebar-top">
      <div class="sidebar-logo"><i class="fa fa-store"></i></div>
      <div class="sidebar-space">My library</div>
      <div class="sidebar-x"><i class="fa fa-times" (click)="toggleSidebar()"></i></div>
    </div>

    <div class="sidebar-content">
      <div class="sidebar-title">My Library</div>
      <div class="sidebar-item" [routerLink]="'/book-overview'" routerLinkActive="active" (click)="toggleSidebar()">
        <span class="sidebar-item-icon"><i class="fa fa-book"></i></span>
        <span class="sidebar-item-text custom-link">كل الكتب</span>
      </div>
      <div class="sidebar-item" [routerLink]="'/view/allcategory'" (click)="toggleSidebar()">
        <span class="sidebar-item-icon"><i class="fa fa-object-group"></i></span>
        <span class="sidebar-item-text custom-link">التصنيفات</span>
      </div>
      <div class="sidebar-item">
        <span class="sidebar-item-icon"><i class="fa fa-university"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/view/allpublisher'" (click)="toggleSidebar()">دور
          النشر</span>
      </div>

      <div class="sidebar-item" *ngIf="user?.account_type=='user' || user?.account_type=='admin'">
        <span class="sidebar-item-icon"><i class="fa fa-heart"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/favourite'" (click)="toggleSidebar()">الكتب
          المفضله</span>
      </div>

      <div class="sidebar-item" *ngIf=" user?.account_type=='user'">
        <span class="sidebar-item-icon"><i class="fa fa-suitcase"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'view/Book/reserve/user/'+user?.id"
          (click)="toggleSidebar()">الكتب المحجوزه مسبقا </span>
      </div>


      <div class="sidebar-item" *ngIf="user?.account_type=='admin'">
        <span class="sidebar-item-icon"><i class="fa fa-shield"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/reserve'" (click)="toggleSidebar()">عرض الكتب
          المحجوزه </span>
      </div>


      <div class="sidebar-item" *ngIf="user?.account_type=='admin'">
        <span class="sidebar-item-icon"><i class="fa fa-asterisk"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/reserved'" (click)="toggleSidebar()">طلبات الحجز
        </span>
      </div>

      <div class="sidebar-item" *ngIf="user?.account_type=='admin'">
        <span class="sidebar-item-icon"><i class="fa fa-diamond"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/view/publisher'" (click)="toggleSidebar()">دور
          النشر</span>
      </div>

      <div class="sidebar-item" *ngIf="user?.account_type=='admin'">
        <span class="sidebar-item-icon"><i class="fa fa-users"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/view/authors'"
          (click)="toggleSidebar()">المؤلفون</span>
      </div>

      <div class="sidebar-item" *ngIf="user?.account_type=='admin'">
        <span class="sidebar-item-icon"><i class="fa fa-road"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/add/author'" (click)="toggleSidebar()">إدراج مؤلف
        </span>
      </div>


      <div class="sidebar-item" *ngIf="user?.account_type=='admin'">
        <span class="sidebar-item-icon"><i class="fa fa-folder"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/addpublisher'" (click)="toggleSidebar()">إدراج دار
          نشر جديده </span>
      </div>

      <div class="sidebar-item" *ngIf="user?.account_type=='admin'">
        <span class="sidebar-item-icon"><i class="fa fa-eye"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/view/allbook'" (click)="toggleSidebar()">عرض كل
          الكتب</span>
      </div>

      <div class="sidebar-item" *ngIf="user?.account_type=='admin'">
        <span class="sidebar-item-icon"><i class="fa fa-bookmark"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/addbook'" (click)="toggleSidebar()">إدراج كتاب
          جديد</span>
      </div>
      <div class="sidebar-item" *ngIf="user?.account_type=='admin'">
        <span class="sidebar-item-icon"><i class="fa fa-bookmark"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/add/branche'" (click)="toggleSidebar()">إدراج فرع
          جديد</span>
      </div>
      <div class="sidebar-item" *ngIf="user?.account_type=='admin'">
        <span class="sidebar-item-icon"><i class="fa fa-shield"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/add/category'" (click)="toggleSidebar()">إدراج تصنيف
          جديد</span>
      </div>

      <div class="sidebar-item" *ngIf="user?.account_type=='admin'">
        <span class="sidebar-item-icon"><i class="fa fa-bullseye"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/admin/category'"
          (click)="toggleSidebar()">التصنيفات</span>
      </div>

      <div class="sidebar-item" *ngIf="user?.account_type=='admin'">
        <span class="sidebar-item-icon"><i class="fa fa-sitemap"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/viewBranch'" (click)="toggleSidebar()">الفروع</span>
      </div>

      <div class="sidebar-item" *ngIf="user?.account_type=='admin'">
        <span class="sidebar-item-icon"><i class="fa fa-podcast"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/location/all/books'" (click)="toggleSidebar()">توزع كل الكتب</span>
      </div>


      <div class="sidebar-item" *ngIf="user?.account_type=='admin'">
        <span class="sidebar-item-icon"><i class="fa fa-cogs" ></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/library/settings'" (click)="toggleSidebar()">ضبط الإعدادات</span>
      </div>

      <div class="sidebar-item" *ngIf="user?.account_type!='admin'&& user?.account_type!='user'">
        <span class="sidebar-item-icon"><i class="fa fa-sign-in" ></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/login'" (click)="toggleSidebar()">تسجيل
          الدخول</span>
      </div>



      <div class="sidebar-item" *ngIf="user?.account_type=='admin' ||user?.account_type=='user'">
        <span class="sidebar-item-icon"><i class="fa fa-user-md"></i></span>
        <span class="sidebar-item-text custom-link" [routerLink]="'/profile'" (click)="toggleSidebar()">الصفحه الشخصيه</span>
      </div>

      <div class="sidebar-item" *ngIf="user?.account_type=='admin' ||user?.account_type=='user'">
        <span class="sidebar-item-icon"><i class="fa fa-sign-out"></i></span>
        <span class="sidebar-item-text custom-link"  (click)="logout()">خروج</span>
      </div>

    </div>
  </div>

  <!-- <div class="learn-more">
  <div>Have a return? We make it easy.</div>
  <div class="learn-more-link"><a href="#">learn more</a></div>
</div> -->

  <router-outlet></router-outlet>


</body>

</html>
